.header-size {
    height: 55%;
}

@media screen and (max-width: 850px) {
    .header-size {
        height: 50%;
    }   
}
@media screen and (max-width: 750px) {
    .header-size {
        height: 45%;
    }   
}
@media screen and (max-width: 650px) {
    .header-size {
        height: 40%;
    }   
}
@media screen and (max-width: 450px) {
    .header-size {
        height: 35%;
    }   
}
@media screen and (max-width: 400px) {
    .header-size {
        height: 30%;
    }   
}

@media screen and (max-width: 350px) {
    .header-size {
        height: 25%;
    }   
}
